{% extends 'core/base.html' %}

{% block title %}About{% endblock %}

{% block meta %}
    <meta name="description" content="This is my first django project that I built following Code with Stein">
    <meta name="author" content="Ecommerce Mo">
    <meta property="og:title" content="Ecommerce | About">
    <meta property="og:description" content="This is my first django project that I built following Code with Stein">
    <meta property="og:type"  content="article">
    <meta property="og:url"  content="https://ecommerce.com/about/">
    
{% endblock %}

{% block content %}
    <h1>About</h1>
{% endblock %}

